Content/MetaHumans/Common/Face/Face_Archetype.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/Trey/Face/Trey_FaceMesh.uasset filter=lfs diff=lfs merge=lfs -text
Content/Actor/Characters/Player/Textures/T_Primitive_Character_Set_01_Normals.uasset filter=lfs diff=lfs merge=lfs -text
