Content/Actor/Characters/Player/Textures/Character01/T_Primitive_Character_Set_01_Albedo.uasset filter=lfs diff=lfs merge=lfs -text
Content/Actor/Characters/Player/Textures/Character01/T_Primitive_Character_Set_01_Metallic.uasset filter=lfs diff=lfs merge=lfs -text
Content/Actor/Characters/Player/Textures/Character01/T_Primitive_Character_Set_01_Normals.uasset filter=lfs diff=lfs merge=lfs -text
